@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-bg-primary: #F5F4F5;
    --color-bg-secondary: #EBEAEA;
    --color-text-primary: #2C2628;
    --color-text-secondary: #372F32;
    --color-border-color: #CECACA;
    --color-accent: #E86F4A;
}

[data-theme="dark"] {
    --color-bg-primary: #2C2628;
    --color-bg-secondary: #372F32;
    --color-text-primary: #F5F4F5;
    --color-text-secondary: #EBEAEA;
    --color-border-color: #5F5858;
    --color-accent: #E4572E;
}

